._*
~*
*~
.DS_Store
*.pyc
figs*/*
.vscode/
.cache/
**/*.pyc
**/*.o 
**/*.c
**/*.dylib
**/*.cpp
**/*.so 
**/*.nrn
**/*.pyc
**/*.py~
**/*.ipynb_checkpoints/
**/__pycache__
*.egg-info
*.edgg-info
*$py.class
**/*~
**/x86_64/**
.conda/conda-bld/**/*
**/*.code-workspace
**/.coverage
**/*.log
**/*.pdf
output_*/*
cantata-*/*
checking_sim_cbor_file.dat
sim_cbor_swc.out
error.err
out_1.out
out.out
